*{
	margin: 0;
	padding: 0;
	font-family: mononokiRegular;
}

a {
	text-decoration: none;
}

.bg {
	background-image: radial-gradient(#1a1a1a , #000000);
}

.bg2 {
	background-image: linear-gradient(to right, #1A1A1D , #282828);
}

.top {
	background-color: #121212;
	padding: 10px; 
	text-align: center; 
	margin-top: 8px; 
	margin-bottom: 4px;
	margin-top: 4px;
}

.top a{
	color: #fff;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px; 
    font-size: 1.0rem; 

}

.top a:hover {
	color: #00FF00;
	background-color: #ffffff33;
    border-bottom: 3px solid #00FF00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  position: relative;
  text-align: center;
  
  
}
li a:hover {
  background-color: #ffffff33;
  border-bottom: 3px solid #00FF00;
}
img {
    height: 20%;
    width: 20%;
}
.good h1{
	text-align: center;
	color: #fff;
	font-size: 1.4rem;

}
.good img{
	width: 150px;
	display:block;
    margin:auto;
    padding: 4px;
}
#sim {
	text-align: center;
	font-size: 13pt;
	color: #fff;
	padding: 6px;
}

#sim:hover {
    font-size: 14pt;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;

}

#quote{
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	margin-bottom: 30px;
  	border: 0.2px solid white;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 16pt;
	background-color: #ffffff33;
}

.end {
	margin: 30px;
	padding: 1px;
}

.end ul li{
	float: right;
}

.last {
	padding: 10px; 
	text-align: center; 
	margin-top: 8px; 
	margin-bottom: 4px;
	margin-top: 4px;
}

.last a{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px; 
    font-size: 1.4rem; 
}	

.last a:hover {
	color: #00FF00;
}


/*.box {
	border: 0.2px solid white;
	margin-right: 170px;
	margin-left: 170px;
	margin-top: 30px;
}*/

